<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="main.css"> <!-- 별도의 CSS 파일을 사용할 경우 링크 추가 -->
  <title>Main Page</title>
</head>
<body class="d-flex flex-column min-vh-100"> <!-- d-flex flex-column 클래스 추가 -->

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/page?page=main">
      <img src="/images/logo-removebg-copy.png" alt="Logo" class="navbar-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">메인화면</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/page?page=intro">소개</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/page?page=mypage">마이페이지</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/page?page=upload">문자번역</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link btn btn-blue" href="/page?page=login">
            <span>로그인</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-r" href="/page?page=register">
            <span>회원가입</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="main-container flex-grow-1"> <!-- main-container 추가 -->
  <!-- 내용을 추가하거나 수정하세요 -->
</div>

<footer class="text-center mt-auto"> <!-- mt-auto 클래스 추가 -->
  <p>&copy; 2023 Made By Team Lanuagenie. All rights reserved. <i class="bi bi-patch-question"></i></p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>